.submenubuttons{
  -fx-background-color: transparent;
   -fx-border-color: white;
   -fx-text-fill: black;
   -fx-font-size: 14px;
	 
}


.submenubuttons:hover{
 		-fx-background-color: paleturquoise;
	   -fx-border-color: white;
	   -fx-text-fill: black;
	   -fx-font-size: 14px; 
}


.toggle-button {
  -fx-color: paleturquoise;
}

.toggle-button:hover {
  -fx-background-color: paleturquoise;
}

.toggle-button:selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
}

.toggle-button:selected:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
}
.logout{
	 -fx-background-color: rgb(87,100,123);
	 -fx-background-radius: 0,0,0;
}

.logout:hover {
  -fx-background-color: paleturquoise;
}


#menuHbox{
	-fx-background-color: rgb(87,100,123);
}

.menuButtons{
	-fx-background-color: transparent;
}

.success{
	-fx-text-fill: green;
}

.failure{
	-fx-text-fill: red;
}
.editDeleteButton {
    -fx-background-color: transparent;
	-fx-font-size: 8px;
}
.loginBackground{-fx-background-color:rgb(128,128,255) ;}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.background{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
